---
title: Project Index
---
<div class="header">
  <h1 id="logo">Amalgamation of Cats</h1>
</div>
<p>Amalgamation of Cats is a monicker for projects by <a href="http://twitter.com/noopkat">@noopkat</a> and <a href="http://twitter.com/makenai">@makenai</a></p>
<p id="apps">

  <div class="row">
  {{#each pages}}
    {{#isnt basename "index"}}
      <div class="col-sm-6 col-md-3">
      <a href="{{this.filename}}" class="thumbnail">
        <img data-src="{{this.filename}}" src="{{data.image}}" alt="{{data.title}}">
      </a>
      </div>
    {{/isnt}}
  {{/each}}
  </div>

</p>